/* CODED BY RIDLEY */
html {

}

body {
  background:linear-gradient(#020895, #000000);
  margin:0;
}

div.header {
  text-align:center;
  top:50%;
  left:50%;
}

div#wrapper {
  min-height: 100%;
  height: auto;

}

div#bottom {
  margin: 0 0 0 0;
  background-color:#000;
}

img#avatar {
  margin: 30 15 30 15;
}

img#title {
  margin-top:30px;
}

img#reef {
  width:100%;
}

p {
  color:#1f0;
}

a.nav {
  color:#ff0;
  text-decoration: none;
}

a.nav:hover {
  background-color: #fff;
}
