html {

}
@media screen and (max-width: 760px) {
  #homebanner, main {
    display:block;
    width: 100%;
  }
}
@media(prefers-color-scheme:dark){div.nav{background-color:#000;}body{background-color:#000;color:#fff}footer{background-color:#000;color:#fff}a{color:#fff;}div.blogpost{border-color:#fff}}
@media(prefers-color-scheme:light){div.nav{background-color:#fff;}body{background-color:#fff;color:#000;}a{color:#000;}div.blogpost{border-color:#000}}
@media(prefers-color-scheme:no-preference){div.nav{background-color:#fff;}body{background-color:#fff;color:#000;}a{color:#000;}div.blogpost{border-color:#000}}
body {
  font-family: Garamond;
  font-size: 12pt;
}
main {
  margin: 0 auto;
  max-width: 500px;
  box-sizing:border-box;
}
header {
  width: 100%;
  height: 20px;
}
footer {
  text-align: center;
  font-size: 12pt;
  margin: 0 auto;
  max-width: 500px;
}
a {
  text-decoration: underline;
}
a:hover {
  color:#666;
  text-decoration: none;
}
a.nav {
  margin: 0 10 0 10;
}
h1 {
  font-size:20pt;
  text-align: center;
}
h2 {
  font-size:16pt;
  text-align: center;
}
h3 {
  font-size:16pt;
}
h4 {
  font-size:16pt;
}
ul {
  list-style-type: none;
  list-style-position: outside;
  padding-inline-start: 0px;
}
li {
  margin: 0 0 5 0;
}
div.nav {
  margin: 0 auto;
  padding: 10 0 10 0;
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  text-align:center;
}
div.writing-nav {
  text-align: center;
  margin: 10 0 10 0;
}
div.cvhead {
  text-align: center;
}
div.blogpost {
  border-left: solid;
  border-width: thin;
  padding: 0 2% 0 2%;
  margin: 0 0 10% 0;
}
.italics {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
img.oldsite {
  max-width: 100%;
}
img.work {
  max-width:100%;
}
#homebanner {
  margin: 5% 0 0 0;
  max-width: 500px;
}
#copyright {
  font-size: 10pt;
}
